@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

h1, h2, h3, h4, a {
    font-family: "Josefin sans", serif;

}

h1{
    background-color:#345995;
    text-align:center;
	color: white;
}
img{
    display:block;
    text-align:center;
    margin: 2px auto 2px auto;    
}
