@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Newsreader:ital@0;1&display=swap&family=Acme&family=Josefin+Sans:ital@0;1&family=Merriweather:ital@0;1&family=Passion+One&display=swap");

*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: 'Newsreader', serif;
}
header{
    background-color: #345995;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1em;
}

header img{
    margin-right: .5em;
}

.main-grid{
    display: grid;
    grid-row-gap: 25px;
}

.author{
    font-style: italic;
}

.herodiv{
    position: relative;
    margin: auto;
    margin-bottom: 2em;
    
}

.herodiv picture img{
    width: 100%;
    border-radius: .8em;
}
.weatherSummary{
    position: absolute;
    top: 1em;
    left: 1em;
    background: white;
    border: 2px solid rgb(175, 242, 245);
    text-align: center;
    line-height: 1.8;
    border-radius: .2em;
    opacity: 0.9;
    font-size: 0.5rem;
    font-style: italic;
}



.active{
    background-color: #FFEFB8;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title h1{
    font-family: 'Acme', serif;
    margin:.3em;
    font-size: 1.5em;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.title h3 {
    font-size: 1.5em;
    font-style: italic;
    font-weight: 700;
    color: white;
    line-height: 1.5em;
}

nav{
    background-color: #CCCCCC;
}

.navigation{
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation li a {
    display: block;
    padding: .8rem 2%;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 700;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.navigation li a:hover {
    background-color:#FFEFB8;
    color: #345995;
}


.appear li {
    display: block;
}

aside{
    background-color: #7CC6FE;
    padding:1em;
    text-align: center;
    font-weight: bold;
    color: white;
}

main{
    padding: 1em;
}

main h2{
    text-align: center;
    margin-bottom: 1em ;
}


.weatherSummary {
    position: absolute;
    line-height: 1.8;
    font-size: .8em;
    border-radius: .2em;
    top:1em;
    left:1em;
    padding: .5em 1em;
}
.weatherSummary h3{
    border-bottom: 2px solid #fff;
    margin-bottom: .5em
}

article {
    background-color: #7CC6FE; 
    padding: 1em;
    font-size: 1.5em;
}



article img{
    float: right;
    padding-bottom: 1em;
    padding-right: 1em;
    padding-left: 1em;
    max-width: 400px;
    display: block;
        margin: 0 auto;
   

}

.contactInfo{
    background-color: #7CC6FE;
}

.map{
    float: left;
    display: block;
    max-width: 80%;
    
    padding-right: 2em;
}

.forecast5{
    text-align: center ;
    display: none;
}

.address{
    padding-top: 1em;
}

.address, .emailPhone, .mediaIcons{
    padding-left: 18em;
    font-size: 1.2em;
    text-align: center;
}

.mediaIcons a{
    margin-right: 7px;
    text-decoration: none;
}
.wrapper-info{
    margin: 0 auto;
    width: 80%;
}

.wrapper-info h3{
    margin-bottom: .5em;
}

.wrapper-info p{
    line-height: 1.5;
    font-size: .8em;
}

.wrapper-info .location {
    margin-bottom: .8em;
}

.fa-map-marker-alt{
    color:#F44336;
}

.wrapper-info ul{
    list-style: none;
    margin-top: 1em;
    padding-left: 0;
}

.wrapper-info ul li{
    display: inline;
    font-size: 2em;
    margin: 0 .2em;
}
footer{
    background-color: #345995;
    color: white;
    padding: 1em;
    text-align: center;
    line-height: 1.7;
    font-size: 1em;
}

footer p:last-child{
    font-weight: 300;
}