*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: 'Lora', serif;
  }
  
  h1, footer{
    text-align: center;
    background-color: #345995;
    color: white;
    padding: .5em .1em;
  }
  
  .cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  
  section{
    margin:.5em;
    width: 17em;
    padding: 1em;
    background-color: #7CC6FE;
    border-radius: .3em;
    text-align: center;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .2);
  }
  
  section img{
    width: 10em;
    margin: .5em;
    border-radius: .3em;
  }
  @media only screen and (min-width: 32.5em) {
    .cards {
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: auto auto ;
        align-items: center;
        justify-content: center;
        grid-column-gap: 2em;
        } 
 
    }
  @media only screen and (min-width: 64rem) {
    .cards {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: auto auto auto auto ;
    align-items: center;
    justify-content: center;
    grid-column-gap: 2em;

    
    } 
  }
  
  